@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
    min-width: 2vh;
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/389/64/desktop-wallpaper-3840x2160-book-leaves-cup-autumn-comfort-reading-coffee-u-16-9-backgrounds-autumn-mug.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s ease;
}

.navigation {
    position: relative;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: left;
    transition: width 0.5s ease-in-out;
}

.navigation a:hover::after {
    width: 100%;
}

.navigation.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: background 0.3s ease, color 0.3s ease;
}

.navigation.btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.wrapper {
    position: relative;
    width: 440px;
    height: 440px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center; /* Center the login box */
    align-items: center;
    transition: height .2s ease;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition : transform .18s ease;
    transform : translateX(0);
}

.wrapper .form-box.login {
    /* Centering the login box */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .form-box.register {
    position: absolute;
    right: 20px; /* Adjust as needed to move to the right */
    top: 50%; /* Vertically center */
    transform: translateY(-50%);
}

.form-box h2 {
    font-size: 2em;
    color: #eef0f1;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.registration-form{
    padding: 25px;
    width: 480px;
    height: 440px;
    border: 2px solid rgba(22, 21, 21, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(19, 19, 19, 0.6);
    justify-content: center; /* Center the login box */
    align-items: center;
    transition: height .2s ease;
}

.login-register {
    font-size: 0.9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 2px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}
.confirm-password{
    width: 150px;
}
.heading{
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.back{
    display: flex;
    justify-content: center;
    color: #162938;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.back p{
    color: #162938;
}
.back a{
    text-decoration: none;
}